*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}
#window{
    display: flex;
    text-align: center;
    justify-content: center;
    height:100%;
    width: 100%;
}
a{
    font-size: 100px;
    color: white;
    background:grey;
    height: 100%;
    text-decoration: none;
    width: 100%;
    transition: 0.5s;
}
a:hover{
    text-shadow: 3px 2px #000   ;
    background: orange;
    color: white;
    text-decoration: none;
}
a:active{
    text-shadow: none;
}
.container{
    position: relative;
    overflow: hidden;
    background-color: rgb(29, 200, 252);
    height: 96vh;
    width: 75vh;
    margin: 6px auto;
    border-radius: 10px;
    display: block;
}
.row{
    background-color: rgb(160, 221, 240) ;
    border-radius: 10px 10px 0 0;
    display: flex;
}

#fa-logs , #fa-copy {
    height: 9.2vh;
    width: 9.2vh;
    margin: 2.5px;
    border-radius: 5px;
    border:none;
    cursor: pointer;
}
#fa-logs{
    background: url("../icons/log.png") no-repeat center white;
    background-size: 90%;
}
#fa-copy:active{
    width: 30px;
}
#fa-logs:active{
    width: 30px
}
#fa-copy{
    background: url("../icons/copy.png") no-repeat center white;
    background-size: 78% 
}
#display{
    height: 20vh;
    width: 100%;
    font-size: 13.15vh;
    text-align: right;
    padding: 2.63vh 1.32vh 0;
}
table{
    border-collapse: collapse;
    height: 76vh;
}
table tr{
    height: 15vh;
}
table td{
    width: 24vh;
    text-align: center;
    border: 2px solid whitesmoke;
    cursor: pointer;
    font-size: 7vh;
    color: white;
}
table td:hover{
    background-color: whitesmoke;
    color:black
}

/* for mobile devices */

@media only screen and (max-width:800px){
    a{
        font-size: 40px;
    }
}
@media only screen and (orientation:portrait) {
    
}


